---
const year = new Date().getFullYear();
import { SITE_TITLE } from '../consts';
---

<footer class="bg-mono-100 dark:bg-mono-900 mt-auto">
  <div class="max-w-7xl mx-auto px-4 py-6 text-center text-mono-500 dark:text-mono-400">
    <p>&copy; {year} {SITE_TITLE} by A.O. </p>
  </div>
</footer>
